html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  color: #222;
}

h1, nav, h2 {
  font-family: "PT Sans", bold;
}

h1 {
  color: #3f1622;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  color: #3f1622;
}

nav ol {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration: none;
}

figcaption {
  font-style: italic;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

section {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

blockquote strong {
  font-weight: normal;
}

ol {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

footer a:hover {
  text-decoration: underline;
  color: #3f1622;
}

.one, .two {
  font-style: italic;
  font-weight: normal;
}

img {
  width: 100%;
}
